<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/modelado.css" />
  <title>Crear Producto</title>
</head>
<body>
  <nav class="navbar">
    <ul class="navbar-links">
      <li><a href="/bienvenida">Bienvenida</a></li>
      <li><a href="/main">Inicio</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/modelado">Modelado</a></li>
    </ul>
    <div class="navbar-nombres">
      <span>Tiziano Gonzalez</span>
      <span>Jeronimo Vilar</span>
    </div>
  </nav>

  <header class="header">
    <a href="/main">
      <img src="https://static.vecteezy.com/system/resources/previews/047/443/035/original/computer-technology-logo-template-designs-computer-service-logo-template-design-concept-free-vector.jpg" />
      <p>G&V Computación</p>
    </a>
    <a href="/carrito">
      <img src="https://cdn-icons-png.flaticon.com/512/3144/3144456.png" />
      <p>Carrito</p>
    </a>
  </header>

  <form class="form">
    <h1>Crear producto</h1>
    <input class="link-imagen" placeholder="Link imagen producto" />
    <input class="nombre-producto" placeholder="Nombre producto" />
    <input class="precio-producto" placeholder="Precio" type="number" />
    <input class="categoria-producto" placeholder="Categoría" />
    <button type="submit">Crear</button>
  </form>

  <script src="/js/modelado.js"></script>
</body>
</html>