* {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #ffbc0d;
    align-items: center;
    margin: 0px;
    padding: 1rem;
    height: 2rem;
}

.header a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: white;
}


.header input {
    width: 30rem;
    height: 2rem;
}

.header p {
    text-align: center;
}

.header img {
    height: 2.5rem;
}

.card-producto-inactivo {
    opacity: 0.5;
}

.contenedor-productos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    background-color: #fff;
    overflow-y: auto;
}

.contenedor-productos img {
    height: 10rem;
}

.contenedor-productos article {
    background-color: #f9f9f9;
    width: 50rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor-productos a,
button {
    border-radius: .5rem;
    background-color: #ffbc0d;
    border: none;
    transition: 0.2s;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
}

.contenedor-productos a:hover,
button:hover {
    padding: 1.5rem;
    cursor: pointer;
}